@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

body {
  font-family: 'Poppins';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

@layer base {
  :root {
    --text: #280627;
    --background: #f5b7f2;
    --primary: #641b62;
    --secondary: #20b8c5;
    --accent: #bc9106;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f9d7f8;
    --background: #480a45;
    --primary: #e49be1;
    --secondary: #3ad1df;
    --accent: #f9cf43;
  }
}

body {
  color: var(--text);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
